/*** FONTS ***/
@import url(https://fonts.googleapis.com/css?family=Montserrat:900|Raleway:400,400i,700,700i);
/*** VARIABLES ***/
/* Colors */
/*** EXTEND ***/
/* box-shadow */
ol.gradient-list > li, ol.gradient-list > li::before {
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
}
/*** STYLE ***/
*, *:before, *:after {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Ysabeau SC', sans-serif;
  scroll-behavior:smooth;
}
body {
  background-color: #fafafa;
  color: #1d1f20;
  
}
main {
  display: block;
  margin: 0 auto;
  max-width: 40rem;
  padding: 1rem;
}
ol.gradient-list {
  counter-reset: gradient-counter;
  list-style: none;
  margin: 1.75rem 0;
  padding-left: 1rem;
}
ol.gradient-list > li {
  background: white;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  counter-increment: gradient-counter;
  margin-top: 1rem;
  min-height: 3rem;
  padding: 1rem 1rem 1rem 3rem;
  position: relative;
}
ol.gradient-list > li::before, ol.gradient-list > li::after {
  background: linear-gradient(135deg, #83e4e2 0%, #a2ed56 100%);
  border-radius: 1rem 1rem 0 1rem;
  content: '';
  height: 3rem;
  left: -1rem;
  overflow: hidden;
  position: absolute;
  top: -1rem;
  width: 3rem;
}
ol.gradient-list > li::before {
  align-items: flex-end;
  content: counter(gradient-counter);
  color: #1d1f20;
  display: flex;
  font: 900 1.5em/1 'Montserrat';
  justify-content: flex-end;
  padding: 0.125em 0.25em;
  z-index: 1;
}
ol.gradient-list > li:nth-child(10n + 1):before {
  background: linear-gradient(135deg, rgba(37, 109, 255, 0.8) 0%, rgba(29, 236, 29, 0.8) 100%);
}
ol.gradient-list > li:nth-child(10n + 2):before {
  background:linear-gradient(135deg, rgba(37, 109, 255, 0.8) 0%, rgba(29, 236, 29, 0.8) 100%);
}
ol.gradient-list > li:nth-child(10n + 3):before {
  background: linear-gradient(135deg, rgba(37, 109, 255, 0.8) 0%, rgba(29, 236, 29, 0.8) 100%);
}
ol.gradient-list > li:nth-child(10n + 4):before {
  background: linear-gradient(135deg, rgba(37, 109, 255, 0.8) 0%, rgba(29, 236, 29, 0.8) 100%);
}
ol.gradient-list > li:nth-child(10n + 5):before {
  background: linear-gradient(135deg, rgba(37, 109, 255, 0.8) 0%, rgba(29, 236, 29, 0.8) 100%);
}
ol.gradient-list > li:nth-child(10n + 6):before {
  background: linear-gradient(135deg, rgba(37, 109, 255, 0.8) 0%, rgba(29, 236, 29, 0.8) 100%);
}
ol.gradient-list > li:nth-child(10n + 7):before {
  background: linear-gradient(135deg, rgba(37, 109, 255, 0.8) 0%, rgba(29, 236, 29, 0.8) 100%);
}
ol.gradient-list > li:nth-child(10n + 8):before {
  background: linear-gradient(135deg, rgba(37, 109, 255, 0.8) 0%, rgba(29, 236, 29, 0.8) 100%);
}
ol.gradient-list > li:nth-child(10n + 9):before {
  background: linear-gradient(135deg, rgba(37, 109, 255, 0.8) 0%, rgba(29, 236, 29, 0.8) 100%);
}
ol.gradient-list > li:nth-child(10n + 10):before {
  background: linear-gradient(135deg, rgba(37, 109, 255, 0.8) 0%, rgba(29, 236, 29, 0.8) 100%);
}
ol.gradient-list > li + li {
  margin-top: 2rem;
}

body{
  background-color:#111;
}

.list-item:hover{
  box-shadow:0 0 10px #fff;
}
.container{
  width:98%;
  margin:0 auto;
  background-color:#000;
  padding:10px;
  border-radius:10px;
  margin-top:30px;
  box-shadow:0 0 3px 3px #c96363;
  margin-bottom:20px;
  
}
a{
  text-decoration:none;
  color:#0e60ac;
  font-weight:bold;
  font-family:'ubuntu',sans-serif;
  font-size:20px;
  
}

a:hover{
  color:crimson;
}

.nav-link:hover{
  color:crimson !important;
}
.heading{
  color:crimson;
  font-size:35px;
  font-weight: bold;
  text-align:center;
}
.heading:hover {
  
  color:goldenrod;

}



#footer{
  background-color: #111;
  text-align: center;
  padding:5% 5%;
  margin: 0 !important;
  display:flex;
  justify-content: space-around;
}

.last-one{
  color:rgb(123, 155, 232);
  
}

.social-icon{
  color:rgb(239, 50, 50);
  margin:2% 5%;
  transition:0.4s;
}




.social-icon:hover{
  color:goldenrod;
}



/* here  */
#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: transparent;
  background-image: url('sword.svg');
  
  border: none;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  font-size: 20px;
  cursor: pointer;
}

nav{
  background-color:#111;
}
#scrollToTopBtn img{
    width:100%;
    display: block;
    
}
#scrollToTopBtn .arrow-up {
  /* Styles for your arrow icon (if using an icon library or SVG) */
  /* For example, you can use Font Awesome like this: */
  /* font-family: "Font Awesome 5 Free"; */
  /* content: "\f077"; */
  
}

/*here */


.carousel-control.left,.carousel-control.right  {background:none;width:25px;}
.carousel-control.left {left:-25px;}
.carousel-control.right {right:-25px;}
.broun-block {
    background: url("http://myinstantcms.ru/images/bg-broun1.jpg") repeat scroll center top rgba(0, 0, 0, 0);
    padding-bottom: 34px;
}
.block-text {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 0 #2c2222;
    color: #626262;
    font-size: 14px;
    margin-top: 27px;
    padding: 15px 18px;
}
.block-text a {
 color: #7d4702;
    font-size: 25px;
    font-weight: bold;
    line-height: 21px;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.mark {
    padding: 12px 0;background:none;
}
.block-text p {
    color: #585858;
    font-family: Georgia;
    font-style: italic;
    line-height: 20px;
}
.sprite {
	
}
.sprite-i-triangle {
    background-position: 0 -1298px;
    height: 44px;
    width: 50px;
}
.block-text ins {
    bottom: -44px;
    left: 50%;
    margin-left: -60px;
}


.block {
    display: block;
}
.zmin {
    z-index: 1;
}
.ab {
    position: absolute;
}

.person-text {
    padding: 10px 0 0;
    text-align: center;
    z-index: 2;
}
.person-text a {
    color: #ffcc00;
    display: block;
    font-size: 14px;
    margin-top: 3px;
    text-decoration: underline;
}
.person-text i {
    color: #fff;
    font-family: Georgia;
    font-size: 13px;
}
.rel {
    position: relative;
}